In [1]:
import pandas as pd

In [7]:
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(iris)
print(type(iris))

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

In [8]:
df=iris.copy()

In [11]:
df.head(4)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa

In [18]:
df.columns=['sl','sw','pl','pw','flower_type']

In [20]:
print(df.shape)
print(df.dtypes)

(149, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [21]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [26]:
df["sl"]
df.sl

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
5      4.6
6      5.0
7      4.4
8      4.9
9      5.4
10     4.8
11     4.8
12     4.3
13     5.8
14     5.7
15     5.4
16     5.1
17     5.7
18     5.1
19     5.4
20     5.1
21     4.6
22     5.1
23     4.8
24     5.0
25     5.0
26     5.2
27     5.2
28     4.7
29     4.8
      ...
119    6.9
120    5.6
121    7.7
122    6.3
123    6.7
124    7.2
125    6.2
126    6.1
127    6.4
128    7.2
129    7.4
130    7.9
131    6.4
132    6.3
133    6.1
134    7.7
135    6.3
136    6.4
137    6.0
138    6.9
139    6.7
140    6.9
141    5.8
142    6.8
143    6.7
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [30]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [36]:
df.iloc[1:4,2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

In [38]:
#manipulating dataframe data
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [46]:
df.drop(3,inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [49]:
df.index

Int64Index([  1,   2,   4,   5,   6,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

In [52]:
df.index[0],df.index[3]

(1, 5)

In [54]:
df.drop(df.index[0],inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

In [58]:
df.drop(df.index[[0,1]],inplace=True)
df.head()

     sl   sw   pl   pw  flower_type
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa

In [62]:
df[df.sl>5]

      sl   sw   pl   pw      flower_type
9    5.4  3.7  1.5  0.2      Iris-setosa
13   5.8  4.0  1.2  0.2      Iris-setosa
14   5.7  4.4  1.5  0.4      Iris-setosa
15   5.4  3.9  1.3  0.4      Iris-setosa
16   5.1  3.5  1.4  0.3      Iris-setosa
17   5.7  3.8  1.7  0.3      Iris-setosa
18   5.1  3.8  1.5  0.3      Iris-setosa
19   5.4  3.4  1.7  0.2      Iris-setosa
20   5.1  3.7  1.5  0.4      Iris-setosa
22   5.1  3.3  1.7  0.5      Iris-setosa
26   5.2  3.5  1.5  0.2      Iris-setosa
27   5.2  3.4  1.4  0.2      Iris-setosa
30   5.4  3.4  1.5  0.4      Iris-setosa
31   5.2  4.1  1.5  0.1      Iris-setosa
32   5.5  4.2  1.4  0.2      Iris-setosa
35   5.5  3.5  1.3  0.2      Iris-setosa
38   5.1  3.4  1.5  0.2      Iris-setosa
43   5.1  3.8  1.9  0.4      Iris-setosa
45   5.1  3.8  1.6  0.2      Iris-setosa
47   5.3  3.7  1.5  0.2      Iris-setosa
49   7.0  3.2  4.7  1.4  Iris-versicolor
50   6.4  3.2  4.5  1.5  Iris-versicolor
51   6.9  3.1  4.9  1.5  Iris-versicolor
52   5.5  2.3  4.0  1.3  Iris-versicolor
53   6.5  2.8  4.6  1.5  Iris-versicolor
54   5.7  2.8  4.5  1.3  Iris-versicolor
55   6.3  3.3  4.7  1.6  Iris-versicolor
57   6.6  2.9  4.6  1.3  Iris-versicolor
58   5.2  2.7  3.9  1.4  Iris-versicolor
60   5.9  3.0  4.2  1.5  Iris-versicolor
..   ...  ...  ...  ...              ...
119  6.9  3.2  5.7  2.3   Iris-virginica
120  5.6  2.8  4.9  2.0   Iris-virginica
121  7.7  2.8  6.7  2.0   Iris-virginica
122  6.3  2.7  4.9  1.8   Iris-virginica
123  6.7  3.3  5.7  2.1   Iris-virginica
124  7.2  3.2  6.0  1.8   Iris-virginica
125  6.2  2.8  4.8  1.8   Iris-virginica
126  6.1  3.0  4.9  1.8   Iris-virginica
127  6.4  2.8  5.6  2.1   Iris-virginica
128  7.2  3.0  5.8  1.6   Iris-virginica
129  7.4  2.8  6.1  1.9   Iris-virginica
130  7.9  3.8  6.4  2.0   Iris-virginica
131  6.4  2.8  5.6  2.2   Iris-virginica
132  6.3  2.8  5.1  1.5   Iris-virginica
133  6.1  2.6  5.6  1.4   Iris-virginica
134  7.7  3.0  6.1  2.3   Iris-virginica
135  6.3  3.4  5.6  2.4   Iris-virginica
136  6.4  3.1  5.5  1.8   Iris-virginica
137  6.0  3.0  4.8  1.8   Iris-virginica
138  6.9  3.1  5.4  2.1   Iris-virginica
139  6.7  3.1  5.6  2.4   Iris-virginica
140  6.9  3.1  5.1  2.3   Iris-virginica
141  5.8  2.7  5.1  1.9   Iris-virginica
142  6.8  3.2  5.9  2.3   Iris-virginica
143  6.7  3.3  5.7  2.5   Iris-virginica
144  6.7  3.0  5.2  2.3   Iris-virginica
145  6.3  2.5  5.0  1.9   Iris-virginica
146  6.5  3.0  5.2  2.0   Iris-virginica
147  6.2  3.4  5.4  2.3   Iris-virginica
148  5.9  3.0  5.1  1.8   Iris-virginica

[116 rows x 5 columns]

In [67]:
cl=df[df.flower_type=="Iris-setosa"]
cl

     sl   sw   pl   pw  flower_type
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
34  5.0  3.2  1.2  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa
37  4.4  3.0  1.3  0.2  Iris-setosa
38  5.1  3.4  1.5  0.2  Iris-setosa
39  5.0  3.5  1.3  0.3  Iris-setosa
40  4.5  2.3  1.3  0.3  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa
42  5.0  3.5  1.6  0.6  Iris-setosa
43  5.1  3.8  1.9  0.4  Iris-setosa
44  4.8  3.0  1.4  0.3  Iris-setosa
45  5.1  3.8  1.6  0.2  Iris-setosa
46  4.6  3.2  1.4  0.2  Iris-setosa
47  5.3  3.7  1.5  0.2  Iris-setosa
48  5.0  3.3  1.4  0.2  Iris-setosa

In [71]:
print(df.head())
print(df.iloc[0]) #position
print(df.loc[8])  #label

     sl   sw   pl   pw  flower_type
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
sl                     4.9
sw                     3.1
pl                     1.5
pw                     0.1
flower_type    Iris-setosa
Name: 8, dtype: object
sl                     4.9
sw                     3.1
pl                     1.5
pw                     0.1
flower_type    Iris-setosa
Name: 8, dtype: object

In [77]:
df.loc[149]=[1,2,3,4,"Iris-setosa"]

In [80]:
df.tail()

      sl   sw   pl   pw     flower_type
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa
149  1.0  2.0  3.0  4.0     Iris-setosa

In [87]:
df.reset_index(drop=True,inplace=True)
df.index

RangeIndex(start=0, stop=143, step=1)

In [92]:
df.drop('sl',axis=1,inplace=True)

KeyError: "labels ['sl'] not contained in axis"

In [94]:
df.describe()

               sw          pl          pw
count  143.000000  143.000000  143.000000
mean     3.021678    3.893706    1.298601
std      0.448651    1.707697    0.807621
min      2.000000    1.000000    0.100000
25%      2.800000    1.650000    0.400000
50%      3.000000    4.400000    1.400000
75%      3.300000    5.100000    1.850000
max      4.400000    6.900000    4.000000

In [96]:
del df['sw']

KeyError: 'sw'

In [99]:
df.describe()
df.head()

    pl   pw  flower_type
0  1.5  0.1  Iris-setosa
1  1.5  0.2  Iris-setosa
2  1.6  0.2  Iris-setosa
3  1.4  0.1  Iris-setosa
4  1.1  0.1  Iris-setosa

In [101]:
df=iris.copy()
df.columns=['sl','sw','pl','pw',"flower_type"]
df.tail()

      sl   sw   pl   pw     flower_type
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [105]:
df["diff_pl_pw"]=df["pl"]-df["pw"]
df.tail()

      sl   sw   pl   pw     flower_type  diff_pl_pw
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3

In [125]:
#handling nan
import numpy as np
df.iloc[2:4,1:3]=np.nan
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  NaN  NaN  0.2  Iris-setosa         1.3
3  5.0  NaN  NaN  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

In [126]:
df.describe()

               sl          sw          pl          pw  diff_pl_pw
count  149.000000  147.000000  147.000000  149.000000  149.000000
mean     5.848322    3.046939    3.806122    1.205369    2.569128
std      0.828594    0.434048    1.750351    0.761292    1.047707
min      4.300000    2.000000    1.000000    0.100000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    2.900000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

In [127]:
df.dropna(inplace=True)
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3
5  4.6  3.4  1.4  0.3  Iris-setosa         1.1
6  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [128]:
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3
5  4.6  3.4  1.4  0.3  Iris-setosa         1.1
6  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [130]:
df.sw.fillna(df.sw.mean(),inplace=True)
df.pl.fillna(df.pl.mean(),inplace=True)
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3
5  4.6  3.4  1.4  0.3  Iris-setosa         1.1
6  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [141]:
#handling strings in data
df["Gender"]="Male"
df.iloc[0:10,6]="Female"
df.tail()
def f(s):
    if s=="male":
        return 0
    else:
        return 1
df["sex"]=df.Gender.apply(f)
del df["Gender"]
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw  sex
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2    1
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1    1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3    1
5  4.6  3.4  1.4  0.3  Iris-setosa         1.1    1
6  5.0  3.4  1.5  0.2  Iris-setosa         1.3    1